<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div class='wrapper1' v-for='(park, index) in parks'>
      <img class='img' v-bind:src='park.src' v-bind:alt='park.alt' />
      <ol>
        <li v-for='(item, index) in park.items'>{{item.text}}</li>
      </ol>
    </div>
  </div>

  <div class='wrapper2' id='app2'>
    <p>
      <a @click="prevImage" href='#'>Previous</a>
      <button @click='stopSlider'>Stop</button>
      <button @click='startSlider' >Start</button>
      <button class='btn-hoover' v-on:mouseover='stopSlider' v-on:mouseout='startSlider' >Pause</button>
      <a @click="nextImage" href='#'>Next</a>
    </p>
    <transition-group name='fade' tag='div'>
      <div v-for="number in [currentNumber]" :key='number'>
         <img class='img' :src='currentImage' v-on:mouseover='stopSlider' v-on:mouseout='startSlider' />
         <p :src='currentDescription'>{{currentDescription}}</p>
    </div>
  </transition-group>
</div>

</body>
<script>
  new Vue({
    el:"#app",
    data() {
      return {
        parks: [
          {
          src: 'https://images.pexels.com/photos/62600/pexels-photo-62600.jpeg?cs=srgb&dl=pexels-chris-janda-62600.jpg&fm=jpg',
          alt: 'Arches National Park',
          items: [
            {text: 'one'},
            {text: 'two'},
            {text: 'three'}
          ]
          },
          {
          src: 'https://images.pexels.com/photos/2416600/pexels-photo-2416600.jpeg?cs=srgb&dl=pexels-lukas-kloeppel-2416600.jpg&fm=jpg',
          alt: 'Yellowstone National Park',
          items: [
            {text: 'four'},
            {text: 'five'},
            {text: 'six'}
          ]
          },
          {
          src: 'https://images.pexels.com/photos/415925/pexels-photo-415925.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500',
          alt: 'Bryce Cannion National Park',
          items: [
            {text: 'seven'},
            {text: 'eight'},
            {text: 'nine'}
          ]
          },
        ]
      }
    }
  })

  new Vue({
    el: '#app2',
    data: {
        images: [
          {
            image: 'images/spring.png',
            description: 'Spring'
          },
          {
            image: 'images/summer.png',
            description: 'Summer'
          },
          {
            image: 'images/autumn.png',
            description: 'Autumn'
          },
          {
            image: 'images/winter.png',
            description: 'Winter'
          },

          ],
        currentNumber: 0,
        timer: null
    },

    mounted: function () {
        this.startSlider();
    },

    methods: {
        startSlider: function() {
            this.timer = setInterval(this.nextImage, 2000);
        },

        stopSlider: function() {
            clearTimeout(this.timer);
            this.timer = null;
        },

        nextImage: function() {
            this.currentNumber += 1
        },
        prevImage: function() {
            this.currentNumber -= 1
        }
    },

    computed: {
    	currentImage: function() {
      	return this.images[Math.abs(this.currentNumber) % this.images.length].image;
      },
      currentDescription: function() {
        return this.images[Math.abs(this.currentNumber) % this.images.length].description;
      }
    }
});
</script>
<style>
.wrapper1 {
  float: left;
  width: 33%;
}

.wrapper2 {
  margin: 0 auto;
  width: 50%;
}

.img {
  height: 500px;
}

.fade-enter-active, .fade-leave-active {
  transition: all 0.6s ease;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
  position: absolute;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  visibility: hidden;
}

.btn-hoover:hover {
  box-shadow: 2px 2px 1px red;
}
</style>
</html>
